@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.slider_arrows .slick-prev:before {
  color: #97bf0f;
}

.slider_arrows .slick-next:before {
  color: #97bf0f;
}

.card-img-top {
  width: 100vw;
  height: 10vw;
  object-fit: cover;
}
