*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #fff;
    color: #000;
    height: 120vh;
    width: 200px;
    transition: all 0.5s;
    box-shadow: rgb(0 0 0 / 16%) 3px 50px 10px;

}
.top_section{
    display: flex;
    justify-content: space-between;
    padding:30px 15px;
    margin-left: 2vh;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
    text-decoration: underline;
}
.link{
    display: flex;
    color: #000;
    padding: 7px 20px;
    gap: 15px;
    transition: all 0.1s;
    margin-left: 2vh;
    margin-top: 3vh;

}
.link:hover{
    background:#e1fa9c;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: #97bf2a;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}
